{% load static %}
<header>
  <nav class="navbar navbar-dark bg-dark fixed-top shadow-sm">
    <div class="container">
      {% with request.resolver_match.view_name as view_name %}            
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item me-3">              
          <a
            class="nav-link {% if view_name == 'statistics:index' %} active {% endif %}" 
            href="{% url 'statistics:index' %}"
            >
            Главная 
          </a> 
        </li>
        <li class="nav-item me-3">
          <a 
            class="nav-link {% if view_name == 'statistics:dashboard_list' %} active {% endif %}" 
            href="{% url 'statistics:dashboard_list' %}"
            >
            Соревнования
          </a> 
        </li>
      </ul>
      {% endwith %}
    </div>
  </nav>
</header>