{% extends "base.html" %}

{% block content %}
    <div class="card" style="width: 18rem;">
    	<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Some Competition</h5>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<a href="#" class="btn btn-primary">More Info</a>
			</div>
		</div>
{% endblock content %}