{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="text-center mb-4">Поиск соревнований</h2>
          <form method="get" action="{% url 'statistics:dashboard_list' %}">
            <div class="mb-3">
              {{ form.team_slug.label_tag }}
              {{ form.team_slug }}
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-lg">Найти</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}